// out: ../src/resources/app/static/css/main.css, sourcemap: false, compress: true
/*
    GUI Miner stylesheet
*/

@desktop:  ~"only screen and (min-width: 600px)"; /* Mobile view / not a grid anymore */
@mobile:  ~"only screen and (max-width: 600px)"; /* Mobile view / not a grid anymore */

@import "reset.less";
@import "elements.less";

@color-grey-dark: #18181B;
@color-grey-medium: #848484;
@color-grey-medium-light: #CCCCCA;
@color-grey-heavy-light: #777779;

@color-green: #87c663;
@color-green-dark: #3E6D23;
@color-green-light: #B6DF9F;

@color-blue: #6badc9;
@color-blue-dark: #568ca3;
@color-blue-darker: #2F6880;
@color-blue-background-verydark: #002332;
@color-blue-light: #88bbd1;
@color-blue-very-light: #bcdcea;

@color-red: #d51920;
@color-red-dark: #7F1015;
@color-red-light: #dc533a;

@color-orange: #eb6f24;

@color-message-background: #efefef;

@color-stellite-purple: #C961F7;
@color-stellite-purple-dark: #610DA0;
@color-stellite-purple-dark-lighter: #8A19DF;
@color-stellite-grey: #59687C;

/* Fonts */
@font-family-main: 'Roboto', sans-serif;


html {
  font-family: @font-family-main;
  width: 100%;
  height: 100%;
}
