# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
bin/
logs/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
/.project

*.renderpak
# Ignore everything in Vendor
vendor/*
# Except the vendor definitions
!vendor/vendor.json

# Ignore all the scrips in Kafka
kafka/*
# Except the README with instructions
!kafka/README.md

# Ignore I'm Done
.imdone
